<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse" style="display: flex; justify-content: space-between; align-items:center;">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')" class="nav-link">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="nav-link">Save Data</a></li>
                        <li><a href="#" class="nav-link">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>